@import "./reset.css";

:root {
   --app-dark-bg: #282828;
   --app-blue-bg: #3a43f0;
   --app-lessdark-bg: #3f3f3f;
   --app-morelessdark-bg: #989696;
   --app-ligh-text: #f0ffff;
   --app-primarybotton-color: #4f8f0b;
   --app-errormessage-color: rgb(233, 91, 51);
   --app-primarybotton-hover-color: rgb(15, 107, 11)
}

body {
   background-color: var(--app-dark-bg);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                    Containers                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.container {
   width: min(100% - 30px, 1080px);
   height: 100vh;
   margin-inline: auto;
   position: relative;
}

.flex {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 15px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                     Main                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.container-form {
   position: relative;
   top: 5%;
   left: 0%;
   width: 100%;
   height: 200px;
}

h2 {
   font-size: 35px;
   color: var(--app-ligh-text);
   justify-content: center;
   display: inline;
   align-items: center;
   text-align: center;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*         Container List and Div contacts               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.container-div-list {
   position: absolute;
   top: 30%;
   max-height: 550px;
   left: 0%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   overflow: none;
}

.div-contact {
   max-width: 95px;
   min-width: max-content;
   padding: 10px 10px;
   height: 100px;
   margin: 5px;
   border: 1px solid var(--app-primarybotton-color);
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content: left;
   flex-direction: column;
   animation: 0.3s trans linear;
   cursor: pointer;
}

.div-contact p {
   flex-direction: column;
   display: inline;
   color: var(--app-morelessdark-bg);
}

.clicked {
   border: 1px solid var(--app-errormessage-color);
}

.container-counter {
   position: absolute;
   top: 90%;
   left: 0%;
   margin-top: 20px;
   width: 100%;
   height: 40px;
   line-height: 20px;
}

.container-counter p {
   color: var(--app-primarybotton-color);
}

@keyframes anim {
   from {
      opacity: 0.5;
      translate: 0 2px;
   }

   to {
      opacity: 0.9;
      translate: 0 0px;
   }
}

.animate {
   animation: anim 0.3s ease-in;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                   Form                                */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.form-contact {
   width: 80%;
}

.input-container {
   width: 100%;
   position: relative;
}

input[type="text"] {
   width: 50%;
   height: 40px;
   margin-right: 10px;
   justify-content: left;
   text-align: left;
   align-items: left;
   padding: 10px 10px;
   font-size: 16px;
   color: var(--app-dark-blue-bg);
   border-radius: 5px;
   background-color: transparent;
}

#contact-info {
   color: var(--app-morelessdark-bg);
   background-color: var(--app-lessdark-bg);
   border: 1px solid var(--app-lessdark-bg);
}

input[type="text"]:hover {
   border-color: var(--app-primarybotton-color);
}

input[type="text"]::placeholder {
   color: var(--app-morelessdark-bg);
}

input[type="button"] {
   width: 15%;
   height: 40px;
   margin: 20px 0px 20px 10px;
   text-align: center;
   background-color: var(--app-primarybotton-color);
   border-radius: 6px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
   font-size: 16px;
   font-weight: 600;
   letter-spacing: 0.2px;
   transition: all 0.25s ease-in-out;
   color: var(--app-ligh-text);
   cursor: pointer;
}

input[type="button"]:hover {
   background-color: var(--app-primarybotton-hover-color);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*                  Error message                        */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.error-message {
   width: 80%;
   color: var(--app-errormessage-color);
   display: none;
   margin: 20px 10px 20px 130px;
   height: 40px;
   padding: 10px 10px;
   font-size: 12px;
   margin-top: 0px;
   padding-top: 0px;
   text-align: left;
   top: 90%;
   position: absolute;
}