* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
    font: inherit;
}

html,
body {
    height: 100%;
}

body {
    background-color: #282828;
    font-family: 'Poppins', sans-serif;

    font-weight: 400;
    line-height: 1.5;
    /*outline: 2px dashed rgb(205, 33, 148);*/
}